@charset "UTF-8";

.body {
	height: 1000px;
	width: 2000px;
	
}


.header{
	background-color: blue;
}

.section {
	
}
	
.menu {
	margin-top: 30px;
	font-size: 30px;
	color: white;
}


footer {
	font-size: 12px;
	color: gray;
	align-items: center;
}

.button{
	align-content: flex-end;
}