<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.lesson03.dao.New_ReviewDAO">
 
 	<!--    DAO 의 메소드 명 매핑              결과 타입은 객체                         -->
 	<select id="selectNew_ReviewById" parameterType="int" resultType="com.quiz.lesson03.New_Review">
 		SELECT
 			`id`
			,`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
 		FROM
 			new_review
 		WHERE
 			`id` = #{id}
 			
 	</select>
 </mapper>